<h1> make your mark </h1>

<form action="create_user">

  
  
  
  <input type="text" name="caption" placeholder="E-mail">
  
  <input type="text" name="title" placeholder="username">
  
  <input type="text" name="url" placeholder="paste the url of your profile puc here">
  
  
  
  
  
  
  
  <input type ="submit">
    
  
  
  
  
</form>